body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Georgia;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("galaxia.png") center/cover no-repeat;
}

.field {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: url("campo.png") center/cover no-repeat;
}

.tulip {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.tulip img {
  width: 300px;
}

.text-box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  color: white;
  opacity: 0;
}

.text-box.show {
  opacity: 1;
}
